.total {
  color: lightblue;
}
.completed {
  color: greenyellow;
}

.uncompleted {
  color: red;
}

@media only screen and (max-width: 600px) {
  .completed-col {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
